{% extends 'header.html' %}
{% load static %}
{% block content %}

  <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="{% static 'img/core-img/leaf.png' %}" alt="">
        </div>
    </div>



    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg' %});">
            <h2>Billing Detail</h2>
        </div>

<div class="site-section ">
	<div class="container">
	<div class="col-md-12">
		<br>
		<h2 class="h3 mb-3 text-black" align="center"  style="color: black;">Billing Details</h2>
	  </div>
    	<div class="container col-md-12 ">
    		<div class="row justify-content-center ">
				
				<div class="col-md-12 ">
					<form action="{% url 'pay' %}" enctype="multipart/form-data" method="POST" class="bg-white contact-form">
						{% csrf_token %}
					<div class="p-3 p-lg-5 border">
					<div class="row align-items-end" style="color: black;">
						<br><br><br><br><br><br>
						<div class="col-md-6">
							<input type="hidden" required name="amount" value="{{amount}}" class="form-control" placeholder="">

							<div class="form-group">
								<label for="firstname">Firt Name</label>
								<input type="text" required name="fname" class="form-control" placeholder="">
	                		</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="lastname">Last Name</label>
								<input type="text" required name="lname" class="form-control" placeholder="">
	                		</div>
                		</div>
                		
		            	<div class="col-md-12">
							<div class="form-group">
								<label for="country">State / Country</label>
								
								<div class="icon"></div>
								<select class="form-control" name="state">
									<option value="gujarat">Gujarat</option>
									<option value="panjab">Panjab</option>
									<option value="rajasthan">Rajasthan</option>
									<option value="kerala">Kerala</option>
								</select>
		                		
		            		</div>
		            	</div>
		            	<div class="w-100"></div>
		            	<div class="col-md-6">
							<div class="form-group">
								<label for="streetaddress">Street Address</label>
								<input type="text" required name="street_address1" class="form-control" placeholder="House number and street name">
	                		</div>
		            	</div>
		            	<div class="col-md-6">
							<div class="form-group">
								<input type="text" name="street_address2" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
							</div>
		            	</div>
		            	<div class="w-100"></div>
		            	<div class="col-md-6">
							<div class="form-group">
								<label for="towncity">Town / City</label>
								<input type="text" required name="city" class="form-control" placeholder="">
	                		</div>
		            	</div>
		            	<div class="col-md-6">
		            		<div class="form-group">
								<label for="postcodezip">Postcode / ZIP *</label>
								<input type="text" required name="postcode" class="form-control" placeholder="">
	                		</div>
		            	</div>
		            	<div class="w-100"></div>
		            	<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Mobile</label>
								<input type="text" required name="mobile" class="form-control" placeholder="">
	                		</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="emailaddress">Email Address</label>
								<input type="text" required name="email" class="form-control" placeholder="">
	                		</div>
                		</div>
                		<div class="w-100"></div>
						</div>
	            	</div>
					<br><br>
					<div align="center">
						<button class="btn py-3 px-4" style="color:black; background-color: #ffd22e;" onclick="window.location='checkout.html'">Place an Order</button>
					</div>
					<br><br>
				</form><!-- END -->
				</div>
			</div>
		</div>					
	</div>
</div>
</div>
</div> <!-- .section -->
{% endblock %}
