{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="goto-here">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="{% static 'img/core-img/leaf.png' %}" alt="">
        </div>
    </div>

    

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg' %});">
            <h2>My Orders</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">My Orders</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Orders Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
				{% if carts %}
    			{% for i in carts %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product" style="border-radius: 7%;">
    					<a href="{% url 'product_detail' pk=i.product.pk %}" class="img-prod"><img class="img-fluid" src="{{i.product.product_image.url}}" alt="Colorlib Template" style="width: 200px; height: 200px; margin: 25px;">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3 ><a href="#">{{i.product.product_name}}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>Rs. {{i.product.product_price}}</span></p>
									<p class="price"><span>{{i.product.product_weight}}</span></p>
                                    <p class="price"><span>Purchase Date : {{i.date}}</span></p>
		    					</div>
	    					</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
				{% else %}
				<h2 align="center" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					No Orders
				</h2>
				{% endif %}
    		</div>
    	</div>
    </section>
	
  </body>
</html>
{% endblock %}